appnope==0.1.0
attrs==19.3.0
awscli==1.18.46
backcall==0.1.0
bleach==3.1.4
blis==0.4.1
botocore==1.15.46
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
colorama==0.4.3
conllu==2.3.2
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
docutils==0.15.2
entrypoints==0.3
Flask==1.1.2
idna==2.9
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
joblib==0.14.1
json5==0.9.4
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
jupyterlab==2.1.1
jupyterlab-server==1.1.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.6
nmslib==2.0.6
notebook==6.0.3
numexpr==2.7.1
numpy==1.18.3
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
plac==1.1.3
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psutil==5.7.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
ptyprocess==0.6.0
pyarrow==0.17.0
pyasn1==0.4.8
pybind11==2.5.0
Pygments==2.6.1
pymongo==3.10.1
pyparsing==2.4.7
pyrsistent==0.16.0
pysbd==0.2.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.0
requests==2.23.0
rsa==3.4.2
s3transfer==0.3.3
scikit-learn==0.22.2.post1
scipy==1.4.1
scispacy==0.2.4
Send2Trash==1.5.0
six==1.14.0
spacy==2.2.4
SQLAlchemy==1.3.16
srsly==1.0.2
tables==3.6.1
terminado==0.8.3
testpath==0.4.4
thinc==7.4.0
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.3
urllib3==1.25.9
wasabi==0.6.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_ner_bionlp13cg_md-0.2.4.tar.gz
