{% extends "_base.html" %}

{% block content %}

<section class="main-splash">
  <body>
    <h1> Welcome to BioReco!</h1>
    <p>BioReco is a stand alone recommendation module for bioRXiv preprints</p>
    <p>You can either input Digital Object Identifier of your favorite article
    or keywords of your choice and sit back while we curate the best match for
  your taste.</p>
  <p>By accessing the preprint suggestions, you'll get most up-to-date articles
  with some statistics along them</p>
  <h2>Let's get going!</h2>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/EwAMtT3ZIpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


  <div class="button-container">


    <button onclick="location.href='/recommender'" type="submit" class="js-btn btn btn-light m-5">
      Take me to the recommender!
    </button>

  </div>

</section>


{% endblock %}
