{% extends "_base.html" %}

{% block content %}


<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div>
<form action="/results">
  <section class="main-splash">

    <h3 class="Reco">Enter doi/keywords for suggestions</h3>

      <input type="text" class="form-control w-50" name="user_input" placeholder="e.g. '10.1101/2020.04.23.058776' or 'coronavirus'" required>
<br>
<br>
<h5 >Select a category:</h5>
<div class="form-group">

    <select class="form-control" id="category", name="category">
      <option value="animal behavior and cognition">Animal Behavior and Cognition</option>
      <option value="biochemistry">Biochemistry</option>
      <option value="bioengineering">Bioengineering</option>
      <option value="bioinformatics">Bioinformatics</option>
      <option value="biophysics">Biophysics</option>
      <option value="cancer biology">Cancer Biology</option>
      <option value="cell biology">Cell Biology</option>
      <option value="developmental biology">Developmental Biology</option>
      <option value="ecology">Ecology</option>
      <option value="evolutionary biology">Evolutionary Biology</option>
      <option value="genetics">Genetics</option>
      <option value="genomics">Genomics</option>
      <option value="immunology">Immunology</option>
      <option value="microbiology">Microbiology</option>
      <option value="molecular biology">Molecular Biology</option>
      <option value="neuroscience">Neuroscience</option>
      <option value="paleontology">Paleontology</option>
      <option value="pathology">Pathology</option>
      <option value="pharmacology and toxicology">Pharmacology and Toxicology</option>
      <option value="physiology">Physiology</option>
      <option value="plant biology">Plant Biology</option>
      <option value="scientific communication and education">Scientific Communication and Education</option>
      <option value="systems biology">Systems Biology</option>
      <option value="zoology">Zoology</option>

    </select>
</div>
    <div class="button-container">
      <button type="submit" class="btn btn-light">Submit</button>
    </div>

  </section>
</form>

{% endblock %}
